@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  font-family: "work sans";
}

html{
  font-size: 100%;
}

.login{
  max-width: 800px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  position: relative;
}

.login .container {
  max-width: 800px;
  margin: auto;
}

.login .backImg {
  width: 100%;
  height: 50vh;
  position: relative;
}

.login .backImg img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.login .text {
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 1;
  color: #fff;
  transform: translate(-50%, -50%);
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  margin-top: 20px; 
}

.login form input {
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
  margin-bottom: 10px;
}

.login form input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.login form input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.login form input:hover::-webkit-input-placeholder,
.login form input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.login form span {
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
  display: block;
}

.login form .button {
  border-radius: 25px;
  width: 80%;
  height: 40px;
 
}