/* App.css */

.App {
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 100px; /* Adjust this value depending on the height of your navbar */
}

